&copy;NOT a real business
<div id="footer1">
    <h3> Contact us</h3>
    <p class="fa fa-phone-square"> +971526758826</p>
    <p class="fa fa-envelope-open"> iu.joseph@gmail.com</p>   

</div>
<div id="footer2">
  <h3> Follow us</h3>
              
  <a class="fa fa-youtube " href="https://www.youtube.com"> Youtube</a>
  <a class="fa fa-facebook " href="https://www.facebook.com"> facebook</a>
  <a class="fa fa-instagram " href="https://www.instagram.com/"> instagram</a>
</div>


</section>
<div class="lastfooter">
<p class="footerFirstP"> &copy;<span id="year"></span>      
  <span class="name">Joseph Israel Uchenna | BYU Idaho | WDD230-Fall 2024</span><span id="country">United Arab Emirate</span> <img src="https://www.protocol.dubai.ae/media/89c91dc5-6ca8-4764-ab07-5f953d337ec5/Or90Eg/UAE_Images/flag.jpg" alt="UAE flag" width="50" height="25"> 
</p>
 <p id="lastModified"></p>
</div>
